---
title: Settings
description: This is a list and explanation of all of Slippry's settings, so have a tinker around and see what you can make!
---
<section class="restricted-width">
  <h2 class="page-title">Control freak? Then you'll love this part.</h2>
  <p>We've packed a heaps of settings into Slippry, from simple transition styles, to timing, to changing the HTML wrappers.</p>
  <p>So what are you waiting for? Have a look!
  <ul id="settings-jump" class="closed"><li class="default"><a href="#!" id="select-setting" class="button-link">jump to a setting</a></li><li class="section-head">general elements &amp; wrapper</li><li><a href="#slippryWrapper">slippryWrapper</a></li><li><a href="#slideWrapper">slideWrapper</a></li><li><a href="#boxClass">boxClass</a></li><li><a href="#elements">elements</a></li><li><a href="#activeClass">activeClass</a></li><li><a href="#fillerClass">fillerClass</a></li><li><a href="#loadingClass">loadingClass</a></li><li class="section-head">options</li><li><a href="#adaptiveHeight">adaptiveHeight</a></li><li><a href="#start">start</a></li><li><a href="#loop">loop</a></li><li><a href="#captionsSrc">captionsSrc</a></li><li><a href="#captions">captions</a></li><li><a href="#captionsEl">captionsEl</a></li><li><a href="#initSingle">initSingle</a></li><li><a href="#responsive">responsive</a></li><li><a href="#preload">preload</a></li><li class="section-head">pager</li><li><a href="#pager">pager</a></li><li><a href="#pagerClass">pagerClass</a></li><li class="section-head">controls</li><li><a href="#controls">controls</a></li><li><a href="#controlClass">controlClass</a></li><li><a href="#prevClass">prevClass</a></li><li><a href="#prevText">prevText</a></li><li><a href="#nextClass">nextClass</a></li><li><a href="#nextText">nextText</a></li><li><a href="#hideOnEnd">hideOnEnd</a></li><li class="section-head">transitions</li><li><a href="#transition">transition</a></li><li><a href="#kenZoom">kenZoom</a></li><li><a href="#slideMargin">slideMargin</a></li><li><a href="#transClass">transClass</a></li><li><a href="#speed">speed</a></li><li><a href="#easing">easing</a></li><li><a href="#continuous">continuous</a></li><li><a href="#useCSS">useCSS</a></li><li class="section-head">slideshow</li><li><a href="#auto">auto</a></li><li><a href="#autoDirection">autoDirection</a></li><li><a href="#autoHover">autoHover</a></li><li><a href="#autoHoverDelay">autoHoverDelay</a></li><li><a href="#autoDelay">autoDelay</a></li><li><a href="#pause">pause</a></li><li class="section-head">callback functions</li><li><a href="#onSliderLoad">onSliderLoad</a></li><li><a href="#onSlideBefore">onSlideBefore</a></li><li><a href="#onSlideAfter">onSlideAfter</a></li><li class="section-head">public functions</li><li><a href="#getCurrentSlide">getCurrentSlide</a></li><li><a href="#getSlideCount">getSlideCount</a></li><li><a href="#goToSlide">goToSlide</a></li><li><a href="#goToNextSlide">goToNextSlide</a></li><li><a href="#goToPrevSlide">goToPrevSlide</a></li><li><a href="#startAuto">startAuto</a></li><li><a href="#stopAuto">stopAuto</a></li><li><a href="#refresh">refresh</a></li><li><a href="#destroySlider">destroySlider</a></li><li><a href="#reloadSlider">reloadSlider</a></li></ul>
</p>
</section>

<section class="restricted-width settings">
<h3>general elements &amp; wrapper</h3>
<h4 id="slippryWrapper">slippryWrapper</h4>

Markup to be used for the entire slider (including the pager).

<% code("html") do %>
default: '<div class="sy-box" />'
accepts: Any valid HTML element (almost) can be used, but we recommend <div>, <section>.
<% end %>
     
<h4 id="slideWrapper">slideWrapper</h4>

Markup to be used to wrap the slides and controls (think of it as the viewport)

<% code("html") do %>
default: '<div class="sy-slides-wrap" />'
accepts: Any valid HTML element (almost) can be used, but we recommend <div>, <section>.
<% end %>

<h4 id="slideCrop">slideCrop</h4>

Markup to be used to wrap just the slides.

<% code("html") do %>
default: <div class="sy-slides-crop" />
accepts: Any valid HTML element (almost) can be used, but we recommend <div>, <section>.
<% end %>

<h4 id="boxClass">boxClass</h4>

The class that is applied to the original slide parent element (e.g. the <code class="inline">&lt;ul&gt;</code> element).

<% code("html") do %>
default: 'sy-list'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h4 id="elements">elements</h4>

HTML element used for each slide.

<% code("html") do %>
default: 'li'
accepts: Any HTML element that is styled as a block element. We recommend <li>, <div>, <article> or <section>.
<% end %>

<h4 id="activeClass">activeClass</h4>

The class applied to the current (visible) slide.

<% code("html") do %>
default: 'sy-active'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h4 id="fillerClass">fillerClass</h4>

The class for the element that acts as an intrinsic placeholder (basically the element which makes sure the slider is sized correctly).

<% code("html") do %>
default: 'sy-filler'
accepts: Any string that is valid as a class in CSS.
<% end %>
    
<h4 id="loadingClass">loadingClass</h4>

The class applied to `slippry_wrapper` while Slippry slider is being loaded.

<% code("html") do %>
default: 'sy-loading'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h3>options</h3>
<h4 id="adaptiveHeight">adaptiveHeight</h4>

The slider height should change on the fly according to the current slide.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="start">start</h4>

The slide number that should be displayed first.

<% code("html") do %>
default: 1
accepts: integer (1 = first slide), random
<% end %>

<h4 id="loop">loop</h4>

Whether the slider should loop (i.e. the first slide goes to the last, the last slide goes to the first).

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="captionsSrc">captionsSrc</h4>

Specifies the source of the captions. When <code class="inline">img</code>, captions will be taken from the <code class="inline">title</code> or <code class="inline">alt</code> attributes, when any other element it will be taken from the <code class="inline">title</code> attribute.

<% code("html") do %>
default: 'img'
accepts: 'img' or any element.
<% end %>

<h4 id="captions">captions</h4>

Specifies the position of captions or no captions at all. *Custom allows you to specify the class of an element in which to insert the captions.

<% code("html") do %>
default: 'overlay'
accepts: 'overlay', 'below', 'custom', false
<% end %>

<h4 id="captionsEl">captionsEl</h4>

The element for the captions. Note, this can be a box outside of <code class="inline">.slippry_box</code>.

<% code("html") do %>
default: '.sy-caption'
accepts: Any jQuery selector.
<% end %>

<h4 id="initSingle">initSingle</h4>

Whether the slider should initialise even if there is only one slide element.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="responsive">responsive</h4>

Whether the slider should be responsive.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="preload">preload</h4>

Elements that are preloaded before slider shows.

<% code("html") do %>
default: 'visible'
accepts: 'visible', 'all'
<% end %>

<h3>pager</h3>
<h4 id="pager">pager</h4>

Whether the slider should have a pager.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="pagerClass">pagerClass</h4>

The class given to the slider container.

<% code("html") do %>
default: 'sy-pager'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h3>controls</h3>
<h4 id="controls">controls</h4>

Whether the slider should have controls (next, previous arrows).

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="controlClass">controlClass</h4>

The class for the controls container.

<% code("html") do %>
default: 'sy-controls'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h4 id="prevClass">prevClass</h4>

The class for the anchor tag to go to the previous slide (left).

<% code("html") do %>
default: 'sy-prev'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h4 id="prevText">prevText</h4>

The text for the previous slide control (important for screen readers).

<% code("html") do %>
default: 'Previous'
accepts: Any text string.
<% end %>

<h4 id="nextClass">nextClass</h4>

The class for the anchor tag to go to the previous slide (right).

<% code("html") do %>
default: 'sy-next'
accepts: Any string that is valid as a class in CSS.
<% end %>

<h4 id="nextText">nextText</h4>

The text for the next slide control (important for screen readers).

<% code("html") do %>
default: 'Next'
accepts: Any text string.
<% end %>

<h4 id="hideOnEnd">hideOnEnd</h4>

Hide the previous or next control when it reaches the first or last slide respectively.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h3>transitions</h3>
<h4 id="transition">transition</h4>

Transition type to use, or no transitions.

<% code("html") do %>
default: 'fade'
accepts: 'fade', 'horizontal', 'vertical', 'kenburns', false
<% end %>
    
<h4 id="kenZoom">kenZoom</h4>

Max zoom level use for the Ken Burns transition.

<% code("html") do %>
default: 120
accepts: any percentage value.
<% end %>
    
<h4 id="slideMargin">slideMargin</h4>

The spacing between slides.

<% code("html") do %>
default: 0
accepts: any value as a percentage of the slippry_box (viewport).
<% end %>
    
<h4 id="transClass">transClass</h4>

The class applied to the slide element when a transition is in progress.

<% code("html") do %>
default: 'transition'
accepts: Any string that is valid as a class in CSS.
<% end %>
  
<h4 id="speed">speed</h4>

The time the transition takes to complete.

<% code("html") do %>
default: 800 
accepts: any number (in milliseconds).
<% end %>
    
<h4 id="easing">easing</h4>

The easing effect to use for the selected transition.

<% code("html") do %>
default: 'swing'
accepts: any easing effect. See "http://jqueryui.com/resources/demos/effect/easing.html".
<% end %>
    
<h4 id="continuous">continuous</h4>

Whether the slider should run continuously (seamless transition between the first and last slides).

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="useCSS">useCSS</h4>

Whether the slider should use CSS transitions. If the user's browser doesn't support CSS transitions the slider will fallback to jQuery.

<% code("html") do %>
default: false
accepts: true, false
<% end %>

<h3>slideshow</h3>
<h4 id="auto">auto</h4>

Whether the slider should run automatically on load.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="autoDirection">autoDirection</h4>

Which direction the slider should move in if in auto mode.

<% code("html") do %>
default: 'next'
accepts: 'next', 'prev'
<% end %>

<h4 id="autoHover">autoHover</h4>

Whether the slideshow should pause automatically on hover.

<% code("html") do %>
default: true
accepts: true, false
<% end %>

<h4 id="autoHoverDelay">autoHoverDelay</h4>

The delay (if any) before the slider resumes automatically after hover.

<% code("html") do %>
default: 100
accepts: any number (in milliseconds).
<% end %>

<h4 id="autoDelay">autoDelay</h4>

The delay (if any) before the slider runs automatically on load.

<% code("html") do %>
default: 500
accepts: any number (in milliseconds).
<% end %>

<h4 id="pause">pause</h4>

The time a slide lasts.

<% code("html") do %>
default: 3000
accepts: any number (in milliseconds).
<% end %>

<h3>callback functions</h3>
<h4 id="onSliderLoad">onSliderLoad</h4>

Runs when the slider has loaded.

<% code("html") do %>
default: function (index) {
  return this;
},
accepts: any valid function.
<% end %>
    
<h4 id="onSlideBefore">onSlideBefore</h4>

Runs before the slide transition starts.

<% code("html") do %>
default: function (slide, old_index, new_index) {
  return this;
},
accepts: any valid function.
<% end %>
    
<h4 id="onSlideAfter">onSlideAfter</h4>

Runs after the slide transition has completed.

<% code("html") do %>
default: function (slide, old_index, new_index) {
  return this;
}
accepts: any valid function.
<% end %>

<h3>public functions</h3>
<h4 id="getCurrentSlide">getCurrentSlide</h4>
Returns the jQuery object of the current slide;
<% code("js") do %>
el.getCurrentSlide();
<% end %>
<h4 id="getSlideCount">getSlideCount</h4>
Returns the number of slides;
<% code("js") do %>
el.getSlideCount();
<% end %>
<h4 id="goToSlide">goToSlide</h4>
Goes to #slide.
<% code("js") do %>
el.goToSlide(slide);
<% end %>
<h4 id="goToNextSlide">goToNextSlide</h4>
Goes to next slide.
<% code("js") do %>
el.goToNextSlide();
<% end %>
<h4 id="goToPrevSlide">goToPrevSlide</h4>
Goes to previous slide.
<% code("js") do %>
el.goToPrevSlide();
<% end %>
<h4 id="startAuto">startAuto</h4>
Starts the automatic slide changes.
<% code("js") do %>
el.startAuto();
<% end %>
<h4 id="stopAuto">stopAuto</h4>
Stops the automatic slide changes.
<% code("js") do %>
el.stopAuto();
<% end %>
<h4 id="refresh">refresh</h4>
Re-initialises the already initialised slider.<br>
Useful when adding slides dynamically.
<% code("js") do %>
el.refresh();
<% end %>
<h4 id="destroySlider">destroySlider</h4>
Destroys the Slippry slider and puts the original markup back.
<% code("js") do %>
el.destroySlider();
<% end %>
<h4 id="reloadSlider">reloadSlider</h4>
Destroys the Slippry slider and initialises it again.
<% code("js") do %>
el.reloadSlider();
<% end %>
</section>