/**
 * Site: Slippry
 * Description: A responsive slider by booncon.
 * Author(s): Lukas Jakob Hafner - @saftsaak
 *            Thomas Hurd - @SeenNotHurd
 *
 * Copyright 2013, booncon oy - http://booncon.com
 *
 * Url: rockets.booncon.com
 */

@import "slippry";
@import "syntax";

/* 1. Variables */
$bc-rk-blue: #31ACE2;
$bc-grey: #3B454F;
$white: #fff;
$black: #202123;
$body-text: #777;
$link-color: $black;
$link-hover: #444;

$sans-serif: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-fonts: source-sans-pro, Verdana, sans-serif;
$serif: Georgia, Times, serif;
$base-font-size: 16px;

$mobile: 600px;

/* 2. Resets */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

* {
  @include box-sizing(border-box);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.48;
  -webkit-font-smoothing: antialiased;
}
/* ol, */ ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Defaults */

body {
  font-size: $base-font-size;
  font-family: $sans-serif;
  background-color: #f5f5f5;// */lighten($bc-grey, 60%);
  margin: 0 auto;
  color: $body-text;
}

div {
  vertical-align: top;
}

p {
  display: block;
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-weight: 300;
  margin: 0.5em 0;
  font-family: $title-fonts;
  color: $black;//$bc-grey;
  a {
  color: $link-color;//$bc-grey;//$bc-rk-blue;
    &:hover {
      color: $link-hover;
    }
  }
}

h1 { font-size: 2em; }
h2 { font-size: 1.66em; }
h3 { font-size: 1.33em; }
h4 { font-size: 1.1em; }
h5 { font-size: 0.87em; }
h6 { font-size: 0.63em; }



@-webkit-keyframes jumpings {
  0%   { top: 2.4%; }
  100% { top: 30%; }
}
@-moz-keyframes jumpings {
  0%   { top: 2.4%; }
  100% { top: 30%; }
}
@-o-keyframes jumpings {
  0%   { top: 2.4%; }
  100% { top: 30%; }
}
@keyframes jumpings {
  0%   { top: 2.4%; }
  100% { top: 30%; }
}


.full-width {
  //width: 100%;
}

.restricted-width {
  @media only screen and (min-width: 1180px) {
    max-width: 1180px;
  }
  margin-left: auto;
  margin-right: auto;
  padding: 0 2%;
}

a.button-link {
  display: inline-block;
  color: $white;
  background-color: $bc-rk-blue;
  padding: 0.25em 0.5em;// 0.15em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  vertical-align: text-bottom;
  &.download {
    @media only screen and (max-width: $mobile) {
      display: none;
    }  
    position: relative;
    background: none;
    color: $bc-rk-blue;
    padding-right: 1.54em;
    &:after {
      position: absolute;
      content: '⬇';
      top: 15.4%;
      right: 4%;
    }
    &:hover {
      background: none;
      color: $bc-rk-blue;
      &:after {
        -webkit-animation: jumpings 0.8s linear infinite; /* Safari 4+ */
        -moz-animation:    jumpings 0.8s linear infinite; /* Fx 5+ */
        -o-animation:      jumpings 0.8s linear infinite; /* Opera 12+ */
        animation:         jumpings 0.8s linear infinite; /* IE 10+ */
      }
    }
  }
  &:hover {
    background-color: darken($bc-rk-blue, 10%);
    color: $white;
  }
}

section {
  margin: 0 0 1em;
  @media only screen and (max-width: $mobile) {
    margin-bottom: 0;
  }  
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover;
  }
}

/* End resets */

/* Header */

#header {
  @include clearfix;
  a {
    text-decoration: none;
    &.logo-link:hover {
      color: $link-hover;
    }
  }
  #site-name {
    font-size: 2em;
    //display: inline-block;
    padding: 0.75em 0;
    float: left;
  }
  nav {
    list-style: none;
    float: right;
    margin: 1.5em 0;
    text-align: right;
    list-style: none;
    float: right;
    margin: 3.2em 0;
    text-align: right;
    li {
      display: inline-block;
      margin-left: 0.25em;
    }
    @media only screen and (min-width: 601px) {
      float: right;
      display: inline-block;
      margin: 3em 0;
      li {
        display: inline-block;
      }
      padding-right: 126px;
    }
    @media only screen and (min-width: 1280px) {
      padding-right: 0;
    }
  }
  .github-link {
    //float: right;
    @media only screen and (max-width: 600px) {
      display: none;
    }
    img {
      position: absolute; 
      top: 0; 
      right: 0; 
      border: 0;
      z-index: 12;
    }
  }
}


/* Content */

.sy-caption .red {
  color: #ff0048;
}

h2.slider-title {
  margin-top: 0;
}
.third {
  display: inline-block;
  width: 100%;
  @media only screen and (min-width: $mobile) {
    width: 33%;
    &:nth-child(1) { padding-right: 1em; }
    &:nth-child(2) { padding: 0 0.5em; }
    &:nth-child(3) { padding-left: 1em; }
  }
}

a.github-download {
  font-size: 2em;
  font-weight: 700;
  margin: 0.25em auto;
  display: block;
  width: 12em;
  @media only screen and (max-width: $mobile) {
    width: 100%;
    font-size: 1.6em;
  }  
}

.big-number {
  font-size: 6em;
  font-weight: 700;
  float: left;
  margin-right: 0.25em;
  display: block;
  height: 100%;
  line-height: 0.8;
  //margin: 0.16667em 0.25em 0.16667em 0;
  clear: left;
  display: none;
}
.get-started {
  @include clearfix;
  margin: 1em 0;
  h3, code, div {
    //margin-left: 5em;
  }
  h3 {
    margin-top: 0;//display: inline-block;
  }
}

code {
  font-family: monospace;
  padding: 0.1em 0.2em;
  background-color: lighten($bc-grey,60%);//$white;
  color: $bc-grey;
}
/* Footer */

#footer {
  background-color: $white;
  padding-top: 2em;
  padding-bottom: 1em;
  color: $bc-grey;
  .footer-content {
    @include clearfix;
    text-align: center;
    .githubs {
      float: left;
    }
    .right {
      float: right;
    }
    .made-with {
      display: inline-block;
      margin-right: 0.36em;
      margin-top: 0.36em;
      font-size: 0.92em;
    }
    .block-link {
      display: inline-block;
    }
    .rockets-logo, .pixels-logo {
      height: 3.6em;
    }
    @media only screen and (max-width: $mobile) {
      .made-with {
        font-size: 0.68em;
      }  
      .rockets-logo, .pixels-logo {
        height: 2.2em;
      }  
      .right {
        float: none;
      }
    }  
  }  
}

/* Frontpage */

.front-page {/* This is the front page slider class */
  .slide_box {
    max-height: 500px;
  }
}
/* Settings */

#settings-jump { /* Settings jump menu */
  @media only screen and (min-width: 550px) {
    float: right;
  }
  li {
    height: 2em;
    border-top: 1px solid $white;
    &.default {
      height: 1.6em;
      border-top: 0;
    }
    #select-setting {
      position: relative;
      text-transform: uppercase;
      &:after {
        content: ' ';
        display: inline-block;
        height: 0;
        width: 0;
        border-left: 0.4em solid transparent;
        border-right: 0.4em solid transparent;
        position: absolute;
        right: 0;
        margin-right: 0.5em;
        margin-top: 0.5em
      }
    }
    &.section-head {
      padding: 0.25em 0.5em;

    }
    a {
      text-decoration: none;
      display: block;
      height: 2em;
      background-color: $bc-rk-blue;
      padding: 0.25em 0.5em;
      color: $white;
      text-align: left;
      &:hover {
        background-color: darken($bc-rk-blue, 10%);
      }
    }
  }
  &.closed {
    height: 2em;
    overflow: hidden;
    #select-setting {
      &:after {
        border-top: 0.5em solid white;
      }
    }
  }
  &.open {
    height: auto;
    background-color: $white;
    #select-setting {
      &:after {
        border-bottom: 0.5em solid white;
      }
    }
  }
}
section.settings {
  h4 {
    margin-top: 1.5em;
  }
  h3 {
    margin-top: 2em;
    border-bottom: 1px solid lighten($bc-grey,50%);
  }
}

/* Examples */

.example-tiles {
  .tile {
    display: inline-block;
    padding: 0.8em 1em;
    background-color: $bc-rk-blue;
    color: $white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: $title-fonts;
    width: 100%;
    margin: 1% 0;
    text-align: center;
    &.large {
      padding: 1.6em 1em;      
      @include background-size(cover);
      background-position: 50% 50%;
      text-shadow: 0 0 0.1em rgba(0,0,0,0.4);
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }    
    @media only screen and (min-width: 411px) {
      width: 49%;
      &:nth-child(2n+1) {
        margin: 1% 1% 1% 0;
      }
      &:nth-child(2n+2) {
        margin: 1% 0 1% 1%;
      }
    }
    @media only screen and (min-width: 631px) {
      width: 32%;
      &:nth-child(3n+1) {
        margin: 1% 1% 1% 0;
      }
      &:nth-child(3n+2) {
        margin: 1%;
      }
      &:nth-child(3n+3) {
        margin: 1% 0 1% 1%;
      }
    }
    &:hover {
      background-color: darken($bc-rk-blue, 10%);
      color: $white;
    }
    &.active {
      background-color: darken($bc-rk-blue, 15%);
    }
  }
}

/* Out-of-the-box */

.default {
  // None requires
}

/* Pictures */

.pictures {
  // None required.
}

/* Portfolio */

.portfolio {
  .sy-controls {
    display: block;
  }
  .sy-pager {
    margin: 1.5em 0;
  }
  .external-captions {
    background-color: #fff;
    padding: 1em;
  }
}

/* News */

.news-slider {
  /* Style the actual content */
  .text-content {
    position: absolute;
    left: 0;
    background-color: rgba(255,255,255,0.9);
    padding: 1em;
    // below are media based, start with 'mobile'
    width: 40%;
    font-size: 0.75em;
    height: 100%;
    h2 {
      margin: 0;
    }
    p {
      display: none;
    }
    a.button-link {
      padding: 0.25em 0.5em;
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
    .read-more {
      float: right;
      position: absolute;
      bottom: 1em;
      right: 1em;
    }
    @media only screen and (min-width: 481px) {
      font-size: 1em;
    }
    @media only screen and (min-width: 769px) {
      width: 35%;
      p {
        display: block;
      }
    }
    @media only screen and (min-width: 960px) {
      width: 30%;
    }
  }
  .image-content {
    line-height: 0; // Stops strange 6px gap at bottom of div.  
    img {
      max-width: 100%;
    }
  }
  .news-pager {
    text-align: right;
    display: block;
    margin: 0.2em 0 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      padding: 0.6em;
      margin: 0 0 0 1em;
      &.sy-active {
        a {
          color: $bc-rk-blue;
        }
      }
      a {
        font-weight: 500;
        text-decoration: none;
        display: block;
        color: #222;
      }
    }
  }
}

/* Shop */
.shop {
  .sy-box {
    overflow: hidden;
    .sy-slides-wrap {
      @media only screen and (min-width: 401px) {
        min-width: 400px;
        max-width: 590px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .sy-slides-crop {
      overflow: visible;
    }    
    .sy-controls {
      @media only screen and (max-width: 500px) {
        display: block;
        li {
          min-width: 2.4em;
          a:after {
            line-height: 1.4em;
            height: 1.4em;
            width: 1.4em;
            margin-top: -0.7em;
            margin-left: -0.7em;
          }
        }
      }
      @media only screen and (min-width: 501px) {
        li {
          width: 100%;
          &.sy-prev {
            left: -100%;
          }
          &.sy-next {
            right: -100%;
          }
          a:after {
            background: none;
          }
        }
      }
    }
    .sy-slide {
      opacity: 0.6;
      @include transition(opacity 1s);
      .product-info {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 1em;
        @media only screen and (max-width: 500px) {
          padding: 1em 2.4em;
        }
        p {
          margin-bottom: 1em;
        }
        p, .button-link {
          opacity: 0;
        }
        .button-link {
          position: absolute;
          bottom: 1em;
        }
        .buy-now {
          right: 1em;
          @media only screen and (max-width: 500px) {
            right: 2.4em;
          }
        }
        .more-info {
          left: 1em;
          @media only screen and (max-width: 500px) {
            left: 2.4em;
          }
        }
      }
      .image-content {
        line-height: 0;
        .product-image {
          max-width: 100%;
        }
      }
      &.sy-active {
        opacity: 1;
        .buy-now {
          opacity: 1;
        }
        &:hover {
          .product-image {
            opacity: 0.2;
          }
          .product-info {
            p, .button-link {
              opacity: 1;
            }
          }
        }
      }
      // Bulk add transitions:
      .product-info p, 
      .product-info .button-link,
      .product-image,
      &.sy-active,
      &.sy-active .buy-now,
      &.sy-active:hover .product-image,
      &.sy-active:hover .product-info p,
      &.sy-active:hover .product-info .button-link,
      &.sy-active.transition {
        @include transition(opacity 1s);
      }
    }
  }  
  .product-name, 
  .shop-slider .sy-slides-wrap {
    width: 100%;
    @media only screen and (min-width: 401px) {
      min-width: 400px;
      max-width: 590px;
      width: 50%;
    }
    margin-left: auto;
    margin-right: auto;
  }
}

/* Thumbnails */
.thumb-box {
  padding: 1.4em 0 1em;
  margin-left: -1%;
  width: 102%;
  .thumbs {
    @include clearfix;
    li {
      float: left;
      width: 25%;
      text-align: center;
      padding: 0 1%;
      img {
        width: 100%;
        opacity: .8;
        @include transition(opacity .32s);
        border-bottom: 4px solid transparent;
        &.active {
          border-color: $bc-rk-blue;
          opacity: 1;
        }
      }
      &:hover {
        img {
          opacity: 1;
          @include transition(opacity .2s);
        }
      }
    }
  }
}