<footer id="footer" class="full-width">
  <div class="footer-content restricted-width">
    <div class="githubs">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="booncon">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br>
      <iframe src="http://ghbtns.com/github-btn.html?user=booncon&repo=slippry&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe><br>
      <iframe src="http://ghbtns.com/github-btn.html?user=booncon&repo=slippry&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>     
    </div>
    <div class="right"><div class="made-with">Website<br>crafted by</div><a href="http://pixels.booncon.com" class="block-link"><img src="/images/logo_bc-pixels.svg" class="rockets-logo"/></a></div>
    <div class="made-with">Slippry<br>launched by</div><a href="http://rockets.booncon.com" class="block-link"><img src="/images/logo_bc-rockets.svg" class="rockets-logo"/></a>
  </div>
</footer>