<header id="header">
  <div class="restricted-width">
    <h1 id="site-name"><a href="/" id="logo-link">Slippry</a></h1>
    <a href="https://github.com/booncon/slippry" target="_blank" class="github-link"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <nav id="main-menu">
      <li><a href="/settings" class="button-link">Settings</a></li>
      <li><a href="/examples" class="button-link">Examples</a></li>
      <li><a href="{% include link.html %}" title="Download this repository as a zip file" rel="nofollow" class="button-link download">Download</a></li>
    </nav>
  </div>
</header>