---
title: Examples - Thumbnails
description: This examples shows Slippry with custom coded thumbnails as a pager.
---
<section class="restricted-width default">
  <h2 class="slider-title">Thumbnails</h2>
  <p>Due to popular demand an example showing how to build a custom pager with thumbnails. Of course this is only one way of doing it :)</p>
  <ul id="thumbnails">
    <li><a href="#slide1"><img src="/assets/img/image-1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a></li>
    <li><a href="#slide2"><img src="/assets/img/image-2.jpg"  alt="This is caption 2"></a></li>
    <li><a href="#slide3"><img src="/assets/img/image-3.jpg" alt="And this is some very long caption for slide 3. Yes, really long."></a></li>
    <li><a href="#slide4"><img src="/assets/img/image-4.jpg" alt="And this is some very long caption for slide 4."></a></li>
  </ul>
  <div class="thumb-box">
    <ul class="thumbs">
      <li><a href="#1" data-slide="1"><img src="/assets/img/image-1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a></li>
      <li><a href="#2" data-slide="2"><img src="/assets/img/image-2.jpg"  alt="This is caption 2"></a></li>
      <li><a href="#3" data-slide="3"><img src="/assets/img/image-3.jpg" alt="And this is some very long caption for slide 3. Yes, really long."></a></li>
      <li><a href="#4" data-slide="4"><img src="/assets/img/image-4.jpg" alt="And this is some very long caption for slide 4."></a></li>
    </ul>
  </div>
</section>

<section class="markup restricted-width">
  <h3>HTML Markup</h3>
<% code("html") do %>
<ul id="thumbnails">
 <li>
    <a href="#slide1">
      <img src="/assets/img/image-1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>">
    </a>
  </li>
  <li>
    <a href="#slide2">
      <img src="/assets/img/image-2.jpg"  alt="This is caption 2">
    </a>
  </li>
  <li>
    <a href="#slide3">
      <img src="/assets/img/image-3.jpg" alt="And this is some very long caption for slide 3. Yes, really long.">
    </a>
  </li>
  <li>
    <a href="#slide4">
      <img src="/assets/img/image-4.jpg" alt="And this is some very long caption for slide 4.">
    </a>
  </li>
</ul>  
<% end %>
</section>

<section class="jquery restricted-width">
  <h3>jQuery</h3>
<% code("js") do %>
var thumbs = jQuery('#thumbnails').slippry({
  // general elements & wrapper
  slippryWrapper: '<div class="slippry_box thumbnails" />',
  // options
  transition: 'horizontal',
  pager: false,
  auto: false,
  onSlideBefore: function (el, index_old, index_new) {
    jQuery('.thumbs a img').removeClass('active');
    jQuery('img', jQuery('.thumbs a')[index_new]).addClass('active');
  }
});

jQuery('.thumbs a').click(function () {
  thumbs.goToSlide($(this).data('slide'));
  return false;
});
<% end %>
</section>

<%= partial "../example-tiles" %>