---
title: Examples
description: Here are a number of useful examples you can create for your own website using Slippry.
---
<section class="restricted-width">
  <h2 class="page-title">Inspiration you say? Have a look at some of these examples.</h2>
  <p>We think Slippry is a pretty customisable slider, so we've included some (slightly random) combinations of options and the function settings and CSS (if applicable) to recreate them.</p>
</section>

<%= partial "example-tiles" %>

<section class="restricted-width">
  <h2 class="page-title">And then of course check out Slippry in the wild!</h2>
  <p>The following are some hand-picked pages that make excellent use of Slippry.</p>
</section>

<section class="restricted-width example-tiles">
<a class="tile large" target="_blank" style="background-image:url(<%= image_path('sc-pixels.jpg') %>)" href="http://pixels.booncon.com">booncon PIXELS</a></section>

<section class="restricted-width">
  <p>Have you customised Slippry in an awesome way? Let us know at <a href="mailto:rockets@booncon.com">rockets (at) booncon.com</a>! We love to see what people do with Slippry.</p>
</section>
