---
title: Examples - Picture slider with Ken Burns effect
description: This example displays a set of photos, without controls and using the Ken Burns effect.
---
<section class="restricted-width pictures">
  <h2 class="slider-title">Picture slider with a Ken Burns effect</h2>
  <p>In this example we have selected the 'Ken Burns' transition type, and increased the zoom factor. Since we want this to focus on images, we've disabled the pager and controls. Also note that even though captions have been included in the HTML Markup, we have disabled the captions also, so they don't show regardless.
  </p>
  <ul id="pictures-demo">
    <li title="This is caption 1 <a href='#link'>Even with links!</a>"><img src="/assets/img/image-1.jpg" alt="demo1_1"></li>
    <li title="This is caption 2"><img src="/assets/img/image-2.jpg"  alt="demo1_2"></li>
    <li title="And this is some very long caption for slide 3. Yes, really long."><img src="/assets/img/image-3.jpg" alt="demo1_3"></li>
    <li title="And this is some very long caption for slide 4."><img src="/assets/img/image-4.jpg" alt="demo1_4"></li>
  </ul>
</section>

<section class="markup restricted-width">
  <h3>HTML Markup</h3>
  <code>
    <pre>
&lt;ul id="pictures-demo"&gt;
  &lt;li title="This is caption 1 &lt;a href='#link'&gt;Even with links!&lt;/a&gt;"&gt;
    &lt;img src="/assets/img/image-1.jpg" alt="demo1_1"&gt;
  &lt;/li&gt;
  &lt;li title="This is caption 2"&gt;
    &lt;img src="/assets/img/image-2.jpg" alt="demo1_2"&gt;
  &lt;/li&gt;
  &lt;li title="And this is some very long caption for slide 3. Yes, really long."&gt;
    &lt;img src="/assets/img/image-3.jpg" alt="demo1_3"&gt;
  &lt;/li&gt;
  &lt;li title="And this is some very long caption for slide 4."&gt;
    &lt;img src="/assets/img/image-4.jpg" alt="demo1_4"&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
  </code>
</section>

<section class="jquery restricted-width">
  <h3>jQuery</h3>
  <code>
    <pre>
jQuery('#pictures-demo').slippry({
  // general elements &amp; wrapper
  slippryWrapper: '&lt;div class="slippry_box pictures-slider" /&gt;',

  // options
  adaptiveHeight: false,
  captions: false,

  // pager
  pager: false,
  
  // controls
  controls: false,
  autoHover: false,

  // transitions
  transition: 'kenburns',
  kenZoom: 140,
  speed: 2000,
});</pre>
  </code>
</section>

<%= partial "../example-tiles" %>