---
title: Examples - Out-of-the-box
description: This examples shows what Slippry looks like without any additional configuration.
---

<section class="restricted-width default">
  <h2 class="slider-title">Out-of-the-box</h2>
  <p>This is what you will get with the default implementation of Slippry and using the default CSS supplied.</p>
  <ul id="out-of-the-box-demo">
    <li><a href="#slide1"><img src="/assets/img/image-1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>"></a></li>
  <li><a href="#slide2"><img src="/assets/img/image-2.jpg"  alt="This is caption 2"></a></li>
  <li><a href="#slide3"><img src="/assets/img/image-3.jpg" alt="And this is some very long caption for slide 3. Yes, really long."></a></li>
  <li><a href="#slide4"><img src="/assets/img/image-4.jpg" alt="And this is some very long caption for slide 4."></a></li>
  </ul>
</section>

<section class="markup restricted-width">
  <h3>HTML Markup</h3>
<% code("html") do %>
<ul id="out-of-the-box-demo">
  <li>
    <a href="#slide1">
      <img src="/assets/img/image-1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>">
    </a>
  </li>
  <li>
    <a href="#slide2">
      <img src="/assets/img/image-2.jpg"  alt="This is caption 2">
    </a>
  </li>
  <li>
    <a href="#slide3">
      <img src="/assets/img/image-3.jpg" alt="And this is some very long caption for slide 3. Yes, really long.">
    </a>
  </li>
  <li>
    <a href="#slide4">
      <img src="/assets/img/image-4.jpg" alt="And this is some very long caption for slide 4.">
    </a>
  </li>
</ul>
<% end %>
</section>

<section class="jquery restricted-width">
  <h3>jQuery</h3>
<% code("js") do %>
jQuery('#out-of-the-box-demo').slippry();
<% end %>
</section>

<%= partial "../example-tiles" %>