<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="Slippry is a responsive slider by booncon ROCKETS.{% if page.description %} {{ page.description}}{% else %} Slippry is truly responsive, built on modern web standards and is packed with options, so it can be as simple or complex as you want, so give it a go!{% endif %}" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}Slippry - A responsive slider by booncon ROCKETS</title>
  <script src="//use.edgefonts.net/cabin:n4,i4,n7,i7;source-sans-pro:n3,i3.js"></script>
  <link rel="stylesheet" href="/css/styles.css?v=rc3" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/slippry.min.js?v=1.0.1"></script>
  <script src="/js/scripts.js"></script>
</head>
<body>
  {% include header.html %}
  
  {{ content }}
  
  {% include footer.html %}
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38942381-5', 'slippry.com');
  ga('send', 'pageview');

</script>
</body>
</html>