<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <script src="//use.edgefonts.net/cabin:n4,i4,n7,i7;source-sans-pro:n3,i3.js"></script>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/slippry.min.js"></script>
  <script src="/js/scripts.js"></script>
</head>
<body>
  {% include header.html %}
  
  {{ content }}
  
  {% include footer.html %}
</body>
</html>