@import "compass";

$color_high: #e24b70;
$color_gray: #ccc;
$controls_size: 2.8em;
$pager_size: 1.2em;
$trans_time: 0.3s;

.slippry_box {
  * {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
  }
  .slide_box {    
    position: relative;
    height: 100%;
    width: 100%;
    .slippry_list {
      width: 100%;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        display: none;
        &.active, &.transition {
          display: block;
        }
        position: absolute;
        width: 100%;
        z-index: 9;
        &.active {
          z-index: 10;
        }
        a {
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          img {
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
            border: 0;
          }
        }
      }
    }
    &:hover {
      .controls {
        display: block;
      }
    }
    .controls {
      display: none;
      list-style: none;
      height: 100%;
      width: 100%;
      position: absolute;
      padding: 0;
      margin: 0;
      li {
        position: absolute;
        width: 10%;
        min-width: $controls_size * 1.5;
        height: 100%;
        z-index: 33;
        &.slip_prev {
          left: 0;
          top: 0;
          a {
            &:after {
              background-position: -5% 0;
            }
          }
        }
        &.slip_next {
          right: 0;
          top: 0;
          a {
            &:after {
              background-position: 105% 0;
            }
          }
        }
        a {
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          text-indent: -9999px;
          &:link, &:visited {
            opacity: 0.4;
          }
          &:hover, &:focus {
            opacity: 0.8;
          }
          &:after {
            content: "";
            background-image: url(arrows.svg);
            background-repeat: no-repeat;
            @include background-size(cover);
            text-align: center;
            text-indent: 0;
            line-height: $controls_size;
            color: #111;
            font-weight: 800;
            position: absolute;
            background-color: #fff;
            width: $controls_size;
            height: $controls_size;
            left: 50%;
            top: 50%;
            margin-top: -$controls_size / 2;
            margin-left: -$controls_size / 2;
            @include border-radius(50%);
          }
        }
      }  
    }
    .filler {
      width: 100%;
      @include transition(padding $trans_time);
    }
    .caption_wrap {
      position: absolute;
      bottom: 2em;
      z-index: 12;
      left: 50%;
      .caption {
        position: relative;
        left: -50%;
        background-color: rgba(0,0,0,0.4);
        color: #fff;        
        padding: 0.4em 1em;
        @include border-radius(1.2em);      
      }
    }  
  }
  .pager {
    display: block;
    width: 100%;
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
    @include clearfix;
    text-align: center;
    li {
      display: inline-block;
      width: $pager_size;
      height: $pager_size;
      margin: 0 1em 0 0;
      @include border-radius(50%);
      &.active {
        a {
          background-color: $color_high;
        }
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        background-color: $color_gray;
        text-indent: -9999px;
        &:link, &:visited {
          opacity: 1.0;
        }
        &:hover, &:focus {
          opacity: 0.6;
        }
        @include background-size(2em);
        @include border-radius(50%);
      }
    }    
  }
  .caption {

  }
}  