@import "compass";

.slippry_box {
  * {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
  }
  .slide_box {    
    position: relative;
    height: 100%;
    width: 100%;
    .slippry_list {
      width: 100%;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        position: absolute;
        width: 100%;
        z-index: 9;
        &.active {
          z-index: 10;
        }
        a {
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          img {
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;
          }
        }
      }
    }
    &:hover {
      .controls {
        display: block;
      }
    }
    .controls {
      display: none;
      list-style: none;
      height: 100%;
      width: 100%;
      position: absolute;
      padding: 0;
      margin: 0;
      li {
        position: absolute;
        width: 10%;
        min-width: 50px;
        height: 20%;
        z-index: 99;
        margin-top: 30%;
        &.slip_prev {
          left: 0;
          top: 0;
        }
        &.slip_next {
          right: 0;
          top: 0;
        }
        a {
          width: 100%;
          height: 100%;
          display: block;
          background-color: red;
          text-indent: -9999px;
          &:link, &:visited {
            opacity: 1.0;
          }
          &:hover, &:focus {
            opacity: 0.6;
          }
          @include background-size(2em);
        }
      }  
    }
    .filler {
      width: 100%;
    }
    .caption_wrap {
      position: absolute;
      bottom: 2em;
      z-index: 12;
      left: 50%;
      .caption {
        position: relative;
        left: -50%;
        background-color: rgba(0,0,0,0.4);
        color: #fff;        
        padding: 0.4em 1em;
        @include border-radius(1.2em);      
      }
    }  
  }
  .pager {
    display: block;
    width: 100%;
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
    @include clearfix;
    text-align: center;
    li {
      display: inline-block;
      width: 20px;
      height: 20px;
      // float: left;
      margin: 0 1em 0 0;
      &.active {
        a {
          background-color: red;
        }
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        background-color: #111;
        text-indent: -9999px;
        &:link, &:visited {
          opacity: 1.0;
        }
        &:hover, &:focus {
          opacity: 0.6;
        }
        @include background-size(2em);
        @include border-radius(50%);
      }
    }    
  }
  .caption {

  }
}  