<section class="restricted-width">
  <div class="newslettera">
    <div class="twothird newsletter">
      <h3>Wish to get notified when we roll out with Slippry 2.0? Sign up and be first to hear about our updates and new features!</h3>
      <div id="mc_embed_signup">
        <form action="//booncon.us3.list-manage.com/subscribe/post?u=ce2d86ff7936aa661f3598971&amp;id=632fde4dfd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_590b042f20dbf5c810b368ef9_f8260fa86b" tabindex="-1" value=""></div>
          </div>
        </form>
      </div>
    </div>
    <div class="third">
      <div class="carbonwrap">
        <script>
          if (document.documentElement.clientWidth > 870) {
            document.write('<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=slipprycom" id="_carbonads_js"><\/script>');
          }
        </script>
        <div class="clear"></div>
      </script>
    </div>
  </div>
</section>
