<footer id="footer" class="full-width">
  <div class="footer-content restricted-width">
    <div class="githubs">
      <span class="share-btn"><a href="https://twitter.com/share" class="twitter-share-button" data-via="booncon">Tweet</a></span>
      <span class="share-btn"><iframe src="http://ghbtns.com/github-btn.html?user=booncon&repo=slippry&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe></span>
      <span class="share-btn"><iframe src="http://ghbtns.com/github-btn.html?user=booncon&repo=slippry&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe></span>
    </div>
    <a href="https://booncon.com" class="block-link right"><span class="crafted-by">Crafted by</span> <img src="/assets/img/logo_bc-main.svg" class="pixels-logo"/></a>
  </div>
</footer>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
